# Node
node_modules/

# Env
.env
.env.*

# Build output
dist/
packages/*/*.tgz
*.tgz

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
*.pid

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Coverage
coverage/

# Jest cache
jest-cache/

# Misc
# local overrides
.local

# TypeScript incremental build info
*.tsbuildinfo
**/tsconfig.tsbuildinfo
