# Node
node_modules/

# Env
.env
.env.*

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
*.pid

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Coverage
coverage/

# Jest cache
jest-cache/

# Misc
/*.tgz
# local overrides
.local

# Generated config artifacts (do NOT track these generated/transpiled config files)
eslint.config.d.mts
eslint.config.d.mts.map
eslint.config.mjs
eslint.config.mjs.map
eslint.config*.map
jest.config.js
jest.config.js.map
jest.config.d.ts
jest.config.d.ts.map
